@import '../../../scss/variable.scss';
.search-bar {
	@media screen and (max-width: 768px) {
		// width: 70%;
		.search_by_keyword_row.search_by_keyword.mobile_view_css.row > div {
			margin-bottom: 12px;
		}

		.pb-3.btn-group.btn-group-toggle {
			padding-bottom: 0;
		}
	}
	position: relative;
	@media only screen and (max-width: 1180px) {
		z-index: 100;
		// position: fixed !important;
		// top: 97px !important;
		max-width: 100% !important;
		// padding: 0 !important;
		margin: 0;
		width: 100%;
	}
	label.form-label {
		color: $white-color !important;
	}
	.search-result-view.search-bar {
		top: 60px;
	}
	.search-home {
		border-radius: 10px;
		max-width: 1140px;
		padding: 15px;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
		// background-color: var(--primary--color, var(--primary--color));
		z-index: 1;
		@media only screen and (min-width: 1080px) and (max-width: 1180px) {
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}

		.bg-color-btn {
			background-color: var(--cta-color-1);
			border: none;
			position: relative;
			top: 6px;
			white-space: nowrap;
			box-shadow: none !important;
		}
		.search-item {
			height: 68px;
		}
		.item-types-align {
			padding-top: 6px;
			@media only screen and (max-width: 767px) {
				margin-bottom: 10px;
			}
			@media only screen and (min-width: 768px) and (max-width: 1199px) {
				max-width: 33% !important;
				width: 33%;
				flex: 0 0 33%;
			}
			.btn-group-toggle {
				width: 100%;
				.btn {
					@media only screen and (max-width: 767px) {
						height: 34px;
						font-size: 12px;
						padding: 6px 11px;
					}
				}
			}
		}
		.form-group.floating-input {
			font-size: 14px;
		}
		.col-sm-2 {
			//align-self: center;
			// padding: 0 5px;
			padding: 6px 14px 0 0;
		}
		.search_by_keyword_row {
			min-height: 55px;
			@media screen and (min-width: 768px) {
				flex-wrap: nowrap;
			}

			.col-sm-8 {
				max-width: 59.8%;
				margin-right: 15px;
				@media (min-width: 481px) and (max-width: 767px) {
					max-width: 70%;
				}
			}
			.col-sm-3 {
				// padding: 0;
				// max-width: 21.8%;
				padding-top: 0px;
			}
		}
		.search_by_keyword {
			.col-sm-8 {
				max-width: 59.8%;
				margin-right: 15px;
			}
			.col-sm-4 {
				max-width: 32.9%;
				padding: 0;
			}
			select {
				font-size: 14px;
				&:focus {
					border: 1px solid #000;
				}
			}
		}
		.col-sm-5 {
			max-width: 35.6%;
			@media only screen and (max-width: 767px) {
				max-width: 100%;
			}
		}
		.col-sm-3 {
			//   max-width: 24%;
			@media only screen and (max-width: 767px) {
				max-width: 100%;
			}
		}
		.col-sm-4 {
			max-width: 32.91%;
			padding: 0;
			margin-left: 16px;
			@media only screen and (max-width: 767px) {
				max-width: 100%;
			}
		}
		.wm-92 {
			@media only screen and (max-width: 767px) {
				max-width: 100%;
				padding: 0 14px;
				margin-left: 0;
			}
		}
		.btn-light {
			padding: 6px 6.5px;
			height: 34px;
			font-size: 12px;
		}
		.btn-light:not(:disabled):not(.disabled).active {
			background-color: $green-color;
			border-color: $green-color;
		}

		@media (max-width: 575px) {
			.search-item {
				padding-bottom: 10px;
			}
		}
		.mobile_view_css,
		.tab_view_css {
			min-height: 55px;
			justify-content: center;
		}
	}

	.search-home {
		width: 100%;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		padding: 34px 17px;

		.floating-input.floating-input {
			#searchQuery {
				text-shadow: none;
			}
			input {
				margin-bottom: 2px;
				text-shadow: none;
			}
			input,
			select {
				height: 45px;
				font-family: var(--paragraph-font-family);
				font-weight: 300;

				&:focus {
					outline: none;
					appearance: none;
					box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
					border-top-color: #000;
				}

				&:disabled {
					background: none;
					appearance: none;
					color: rgba(0, 0, 0, 0.4);

					+ label + svg {
						color: rgba(0, 0, 0, 0.4);
					}
				}
			}
		}

		.search_by_keyword {
			margin-bottom: 14px;
		}

		@media (min-width: 481px) and (max-width: 767px) {
			overflow-y: scroll;
			//   max-height: 301px;

			.search_by_keyword_row {
				.tablet-advance-search {
					//   max-width: 97.8%;
				}
			}

			.advanced-box {
				top: 0;

				.col-sm-5,
				.col-sm-3 {
					//   max-width: 97.8%;
				}
			}
		}
	}
	.search__control {
		vertical-align: middle;
	}

	.filter-option {
		display: inline-block;
		overflow: hidden;
		width: 100%;
		text-align: left;
	}
	.search_advanced_div {
		width: 100%;
		text-align: right;
		padding: 0 !important;
	}
	.search__advanced {
		//color: $light-green !important;
		color: $white-color;
		box-shadow: none !important;
		transition: opacity 0.5s ease-in-out;
	}
	.search__advanced:hover {
		opacity: 0.5;
		text-decoration: underline;
	}
	.btn-warning {
		&:disabled {
			pointer-events: none;
		}
		.search-icon,
		span {
			vertical-align: middle;
		}
	}
	.close-link {
		svg {
			fill: $dark-color;
		}
	}
	.search__advanced svg {
		height: 15px;
		background-color: $white-color;
		border-radius: 50px;
		width: 15px;
		margin-left: 6px;
		top: -2px;
		position: relative;
	}

	.svg {
		height: 16px;
		width: 26px;
		fill: $white-color;
	}

	@media (min-width: 320px) and (max-width: 480px) {
		.search__advanced {
			font-size: 14px;
			margin-top: 12px;
		}
		.col-sm-2 {
			margin: 10px 0;
			height: 15px;
			position: absolute;
			width: max-content;
			max-width: 200px;
			bottom: 8px;
			right: 0;
		}
	}
	@media (min-width: 481px) and (max-width: 767px) {
		.search-bar .col-sm-2 {
			margin: auto;
			height: auto;
		}
		.search-bar .btn-warning {
			width: auto;
		}
	}
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		/* STYLES GO HERE */
		.search-box.form-group {
			margin: 0px 0 0 20px;
		}
		.search_advanced_div {
			/* width: 100%;
  text-align: right;
  padding-right: 18px !important; */
			position: relative;
			left: 45px;
		}
		.search__advanced {
			line-height: 3;
			font-size: 13px;
			display: contents;
		}
	}

	.label {
		color: $white-color;
	}
}
@media (min-width: 411px) and (max-width: 823px) {
	.pb-3 {
		display: flex !important;
	}
}
@media (min-width: 768px) and (max-width: 1180px) {
	.pb-3 {
		width: 500px;
		display: block !important;
	}
	.search-home .search_by_keyword_row .col-sm-8 {
		max-width: 53.8%;
		margin-right: 15px;
	}
	.search-home .search_by_keyword_row .col-sm-3 {
		padding: 0;
		max-width: 15.5%;
		padding-top: 0px;
	}
	.search-btn-css-apply {
		max-width: 24% !important;
		margin-top: 0;
	}

	.tab_view_css {
		padding-bottom: 15px !important;
	}
}

@media only screen and (max-width: 767px) {
	.search-home {
		max-height: 460px;
	}
	.mt-0.search-bar-visible.container,
	.mt-0.search-bar-invisible.container {
		padding: 0;
	}

	.search-home .bg-color-btn {
		height: 35px;
		padding: 0;
	}
	.search-bar {
		top: 0px;
		padding: 0;
	}
	.search-home .col-sm-2 {
		margin-top: 0px;
		flex: 0 0 25.66667%;
		height: 15px;
		position: absolute;
		width: max-content;
		max-width: 200px;
		bottom: 20px;
		right: 0;
		@media (min-width: 481px) and (max-width: 767px) {
			right: 40px;
			bottom: 20px;
		}
	}
	.form-group.floating-input {
		font-size: 12px;

		border-color: #000;
	}
	input#searchQuery {
		padding: 4px 7px 9px 7px;
		height: 45px;
	}
	.mobile_view_css {
		flex-direction: column !important;
	}
	.advanced-box {
		position: relative;
		// top: -40px;
	}
	.search-btn-css-apply {
		padding-left: 15px !important;
		padding-right: 15px !important;
		margin-left: 0;
	}
	.search-home .search_by_keyword_row .col-sm-8 {
		padding-right: 0;
	}
	.search-home .search_by_keyword_row .col-sm-3 {
		padding: 0;
		max-width: 31.8%;
		padding-top: 0px;
	}
	.search-home .search_by_keyword .col-sm-8 {
		max-width: 100%;
		padding: 0 14px;
	}
	.search-home .search_by_keyword .col-sm-4 {
		max-width: 100%;
		padding: 0 14px;
	}
	.search-home .advanced-box .mobile_view_css .col-sm-3 {
		max-width: 95.8%;
		padding-right: 0;
	}
	.search-home .advanced-box .mobile_view_css .col-sm-5 {
		max-width: 95.8%;
		padding-right: 0;
	}
	.search-home .advanced-box .mobile_view_css .col-sm-4 {
		max-width: 100.8%;
		padding: 0 14px;
		margin-left: 0;
	}
	.search-home .advanced-box .btn-light {
		padding: 6px 16px;
	}
	.search-home .advanced-box #buyNow {
		padding: 6px 14px;
	}
	.home-view .search-bar {
		z-index: 1001 !important;
		padding: 0;
		// position: fixed !important;
		// top: 97px !important;
	}
	.pb-3.btn-group.btn-group-toggle {
		width: 100%;
	}
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
	.form-group.floating-input {
		font-size: 11px !important;
	}
	.search-bar .search-home .advanced-box .btn-light {
		padding: 6px 11px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1180px) {
	.home-view .search-bar-invisible .search-bar {
		width: 100% !important;
	}
	.home-view .search-bar {
		z-index: 12 !important;
		padding: 0;
		// position: fixed !important;
		// top: 97px !important;
		max-width: 100% !important;
		// padding: 0 !important;
		margin: 0;
	}
	.tablet-advance-search {
		max-width: 60% !important;
		margin-right: 15px !important;
	}
	.search-bar .search-home .close-btn-icon {
		position: relative;
		top: -14px;
		justify-content: flex-end;
		right: 28px;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	.search-bar {
		max-width: 100% !important;
		// z-index: 1;
	}
	.search-bar .search_advanced_div {
		position: relative;
		left: -10px;
	}
	.search-bar .search-home .close-btn-icon {
		position: relative;
		top: -15px;
		justify-content: flex-end;
		right: 51px;
		float: right;
	}
	.search-bar .search-home .btn-light {
		font-size: 12px;
		padding: 6px 6.5px;
	}
}
@media only screen and (min-width: 1366px) and (max-width: 1024px) {
	.home-view .search-bar {
		z-index: 12 !important;
		padding: 0;
		position: relative;
	}
}
.search-view .search-bar {
	background-color: $green-background;
	top: 0px !important;
	position: relative;
	@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
		// top: 97px !important;
		width: 100%;
	}
}
.mobile-field-margin {
	@media only screen and (max-width: 767px) {
		margin-bottom: 7px;
	}
}
.search-btn-css-apply {
	@media only screen and (max-width: 767px) {
		padding-left: 15px !important;
		padding-right: 15px !important;
		margin-left: 0 !important;
	}
}

.white.form-group.floating-input > .form-control,
.white.form-group.floating-input > .dropdown {
	border: #000 solid 1px;
	color: #000;
}

.white.form-group.floating-input {
	& > .form-control,
	& > .dropdown {
		& + label {
			border-color: #000;
			color: #000;
			&::before,
			&::after {
				border-top-color: #000;
			}
			&::before {
				border-left: solid 1px #000;
			}
			&::after {
				// border-right: solid 1px #000;
			}
		}
		&:not(:focus):placeholder-shown {
			border-top-color: #000;
			& + label {
				&::before,
				&::after {
					// border-top-color: #000;
				}
			}
		}
		&:disabled {
			border-color: grey;
			border-top-color: grey;
			color: grey;
			// border-color: #000;
			// border-top-color: #000;
			// color: #000;
			// background-color: 000;
			& + label {
				color: #000;
				border-color: #000;
				&::before,
				&::after {
					border-top-color: #000;
				}
			}

			& + svg path {
				fill: grey;
			}
		}
		& > option {
			// background-color: #000;
			text-transform: capitalize;
		}
	}
}

.search_by_keyword_row .floating-input label:after {
	border: none;
	border-color: none;
	border-top-color: none;
	border-right: none;
}

.search-bar {
	//Remove missing line in border
	.form-group.floating-input > .form-control + label::before,
	.form-group.floating-input > .form-control + label::after,
	.form-group.floating-input > .dropdown + label::before,
	.form-group.floating-input > .dropdown + label::after {
		content: unset !important;
	}

	.search-btn-css-apply {
		margin-top: 0 !important;
	}
}

.predictiveSearchBar {
	margin-top: 15px;

	.tablet-advanced-search {
		width: 100%;
	}
	.search_by_keyword_row {
		display: flex;
		margin-bottom: 17px;
		// width: 100%;

		@media (max-width: 575px) {
			margin-bottom: 0;
		}

		button {
			padding-right: 0;
			min-width: unset;
		}

		> div {
			padding-right: 10px;
			padding-left: 10px;

			@media (max-width: 575px) {
				padding-bottom: 1em;
			}

			@media (max-width: 767px) {
				margin-top: 1em;
			}
		}
	}
	.form-group {
		&.floating-input {
			padding-top: 0;

			input {
				line-height: 1;
				padding: 12px 15px;
			}
			select {
				height: 45px;
			}
		}
	}

	&__searchField {
		position: relative;

		input {
			width: 100%;
		}

		svg {
			position: absolute;
			right: 13px;
			top: 50%;
			transform: translateY(-40%);
		}
	}

	&__advancedSearch {
		font-family: var(--paragraph-font-family);
		width: auto;
		min-width: unset;
	}

	&__submit {
		display: flex;
		align-items: center;
		justify-content: center;

		> button {
			min-width: 229px;
			width: auto;
			background-color: var(--cta-color-1);
			color: #000;

			&:disabled {
				background-color: var(--cta-color-1);
				border: none;
			}
		}

		.close-btn-icon {
			@media (max-width: 1000px) {
				margin-left: 1em;
			}
		}
	}

	&__rowTwo {
		margin-bottom: 33px;
	}

	@media (max-width: 767px) {
		form {
			padding: 35px;

			.tablet-advanced-search {
				// margin-bottom: 17px;
				margin-top: 1em;
				padding-top: 0;
			}

			.mobile-field-margin {
				max-width: 100%;
			}
		}
	}
}

.search-home {
	background-color: #f7f7f7;

	.predictiveSearchBar {
		top: -108px;
		z-index: 2;
		padding: 45px 37px;
		background-color: #fff;
		max-width: 1143px;
		margin: 0 auto;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
	}
}
