@import "../../../scss/variable.scss";
.auction-catalog {
  .search-filters {
    button {
      display: none;
    }
  }
  .custom-control-label {
    color: #223d38 !important;
    font-weight: 400;
    font-size: 12px;
    padding-top: 2px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
  }
  @media screen and (max-device-width: 1024px) {
    margin-top: 86px;
    padding-left: 0;
    padding-right: 0;
  }
  .refine-search {
    display: none;
    padding: 12px 14px 12px 18px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    .refine-search-btn {
      height: 40px;
      @media screen and (min-device-width: 768px) {
        width: 400px;
        font-size: 18px;
        margin: auto;
      }
    }
    @media screen and (max-device-width: 1200px) {
      display: block;
    }
  }
  .search-result-view-content {
    margin: 20px 0 10px;
    .search-filter-available {
      padding-left: 0;
      @media screen and (max-device-width: 1199px) {
        display: none;
      }
    }
    .asset-cards {
      // margin-left: 10px;
      @media screen and (max-device-width: 1199px) {
        margin-left: 0;
      }
    }
    .asset-cards .sort-block {
      @media screen and (max-device-width: 767px) {
        display: block;
        .pagination-container {
          height: auto;
        }
      }
    }
  }
  .selected-filters {
    display: flex;
    color: #223d38;
    padding: 18px 24px;
    flex-flow: wrap;
    p {
      margin: 0;
    }
    .filtered-list {
      padding: 8px 8px 8px 8px;
      background: #223d38;
      height: 32px;
      border-radius: 20px;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      text-align: justify;
      margin-left: 17px;
      margin-bottom: 5px;
      width: auto;
      text-transform: capitalize;
      svg {
        overflow: hidden;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        background: #fff;
        border-radius: 50%;
        position: relative;
        right: 0px;
        margin-left: 12px;
        top: -1.5px;
        cursor: pointer;
      }
    }
    border-bottom: 1px solid #d6d6d6;
  }
  .social-icon-list {
    justify-content: flex-end;
    display: flex;
    @media only screen and(min-width: 320px) and (max-width: 667px) {
      justify-content: center;
    }
    .buttons {
      margin: 13px 0;
      .social-icon {
        cursor: pointer;
        svg {
          width: 20px;
        }
        & + .social-icon {
          margin-left: 22px;
        }
      }
    }
  }
}

.eoi-catalog {
  @media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
    margin-top: 44px;
  }
  .view-header {
    height: auto;
    .auction-details-row {
      display: flex;
      @media (max-device-width: 767px) {
        display: block;
        padding-bottom: 10px;
      }
      @media (min-device-width: 768px) and (max-device-width: 1024px) {
        display: block;
      }
      .address-block {
        margin-bottom: 10px;
        display: block;
      }
      .auction-details,
      .auction-popovers {
        width: 50%;
        font-size: 14px;
        font-weight: 600;
        @media (max-device-width: 767px) {
          display: block;
          width: 100%;
          .popover-buttons {
            padding: 2px 7px;
            font-size: 14px;
            margin: 0;
          }
          .popover-buttons:nth-child(3) {
            margin: 5px 5px;
          }
        }
        @media (min-device-width: 768px) and (max-device-width: 1024px) {
          width: 100%;
        }
      }
    }
    .auction-captions {
      display: flex;
      font-size: 14px;
      font-weight: 600;
      .gst-caption {
        @media (max-device-width: 767px) {
          min-width: 100px;
        }
      }
      & > .v-divider {
        margin: 5px 10px;
        border-right: 1px solid #ddd;
      }
    }
    .date-time {
      display: block;
      font-size: 14px;
      font-weight: 600;
      .row {
        margin-left: 0;
        margin-right: 0;
        @media (max-device-width: 767px) {
          display: block;
        }
        .auction-dates {
          width: 100%;
          margin-bottom: 10px;
          @media screen and (max-device-width: 767px) {
            margin-bottom: 5px;
            width: 100%;
          }

          label {
            width: 25%;
            @media screen and (max-device-width: 767px) {
              width: 29%;
            }
          }
          button {
            @media screen and (max-device-width: 767px) {
              width: 70%;
              padding: 2px;
            }
          }
        }
      }
    }
    .auction-popovers {
      display: flex;
      align-items: flex-start;
      .online-bidding-block {
        text-align: center;
        margin-top: -15px;
        margin-right: 15px;
        svg {
          text-align: center;
          @media screen and (max-device-width: 767px) {
            position: relative;
            display: block;
            top: 22px;
          }
        }
        @media (min-device-width: 768px) and (max-device-width: 1024px) {
          margin-right: 6.2%;
        }
        @media screen and (max-device-width: 767px) {
          display: block;
          margin-top: 0px;
          max-width: 100%;
          height: 55px;
        }
        .online-bidding {
          max-width: 120px;
          margin-right: 10px;
          display: inline-block;
          white-space: break-spaces;
          display: block;
          margin: 5px;
          @media (min-device-width: 768px) and (max-device-width: 1024px) {
            display: block;
          }
          @media screen and (max-device-width: 767px) {
            display: block;
            margin-left: 15px;
          }
        }
      }
    }
  }
  .search-bar {
    background-color: $green-background;
    .search-home {
      border: none;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .finance-button {
    margin-bottom: 10px;
    padding: 2px 15px;
    font-family: var(--paragraph-font-family, "Roboto");
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    @media screen and (max-device-width: 767px) {
      width: 60%;
      position: relative;
      bottom: 32px;
      left: 75px;
      padding: 4px 3px;
      font-size: 15px;
    }
    @media (min-device-width: 768px) and (max-device-width: 1024px) {
      margin-bottom: 20px;
    }
  }
}

.search-name-popover {
  border: 1px solid #223d38;
  border-radius: 0.3rem;
  width: 100% !important;
  .popover-header {
    color: #ffffff;
    background-color: #223d38;
    border-bottom: 1px solid #223d38;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  .popover-body {
    border: 1px solid #223d38;
    color: #233c38;
    font-family: var(--paragraph-font-family, "Roboto");
  }
  .arrow::after,
  .bs-popover-bottom .arrow::after {
    border-bottom-color: #233c38 !important;
  }
  .close-btn {
    width: 27px;
    height: 27px;
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    background: #223c38;
    position: absolute;
    right: 10px;
    top: 5px;
    border-radius: 16px;
    svg {
      height: 25px;
      width: 25px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      right: 1px;
      top: 1px;
    }
  }
}
