.sales-notes-fees-modal {
    .description-detail {
        font-size: 14px;
        padding: 15px;
        border-bottom: 1px solid var(--primary--color);
    }

	a{
		color: #000;
	}
}

.sml-icon {
    width: 18px !important;
    height: 18px !important;
}