@import "../../../scss/variable.scss";
.search-bar {
	top: 20px;
}
.blogPost {
	&__img {
		margin-bottom: 20px;
		img {
			border-radius: 5px;
			max-width: 98%;
		}
	}
	&__title {
		max-width: 530px;

		h2 {	
			font-weight: 700;
			font-size: 24px;
		}
	}
	&__link {
		font-weight: 600;
		font-size: 14.4px;
		line-height: 25px;
		text-decoration: underline;
		color: #000;
		transition: opacity 0.2s ease-in-out;

		&:hover{
			opacity: 0.5;
			color: #000;
		}
	}
}
