@import "../../../scss/variable.scss";
.div-trans-cal-desc {
  width: 1089px;
  // height: 997px;
  padding: 8px 8px 8px 8px;
  //box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.04);
  background: #ffffff;
  margin-bottom: 22px;
  margin-top: 20px;
  clear: both;
  .p-desc {
    width: 338px;
    height: 31px;
    color: #223d38;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    text-align: left;
    margin-top: 40px;
    margin-left: 32px;
  }
  .b-head {
    margin-left: 32px;
    width: 338px;
  }
  .p-desc-help {
    width: 983px;
    height: 72px;
    color: #223d38;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
    margin-left: 32px;
    .b-head {
      margin-top: 5px;
      font-weight: 700;
    }
  }
}
.div-calcultor {
  display: inline-block;
  width: 1037px;
  height: auto;
  padding: 8px 8px 8px 8px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07);
  background: #ffffff;
  border-color: #d6d6d6;
  border-width: 0.25px;
  border-style: solid;
  margin-left: 32px;
  @media (min-width: 481px) and (max-width: 767px) {
    margin-left: 0;
  }
  .p-cal {
    width: 338px;
    height: 31px;
    color: #223d38;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    text-align: left;
    margin-top: 31px;
  }
  .p-cost {
    width: 983px;
    height: 18px;
    color: #223d38;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
    margin-top: 14px;
  }
  .p-dis {
    width: 983px;
    height: 26px;
    color: #223d38;
    font-size: 10px;
    line-height: 1.3;
    text-align: left;
  }
  .transport-calc {
    min-height: 100%;
    margin-top: 20px;
    .row {
      width: 970px;
      .dropdown {
        padding-left: 0;
        padding-right: 0;
        margin: 5px 9px;
        .form-control {
          border-color: #000000;
          border: 2px solid #000000;
          border-top-color: transparent;
          color: #000000;
          box-shadow: none;
          font-size: 14px;
          font-weight: 400;
        }
        .form-control:focus,
        .form-group > .dropdown:focus {
          border-color: #000000;
          border-top-color: transparent;
          background-color: transparent;
          box-shadow: none;
        }
        select:focus > option:hover {
          background: #000 !important;
          box-shadow: none;
        }
        .form-label {
          border-color: #000000;
          color: #232323;
          font-weight: 400;
          font-size: 10px;
          box-shadow: none;
          &::before,
          &::after {
            border-top: solid 2px #000000;
          }
        }
      }
      .overflow-auto {
        overflow: auto;
        margin-bottom: 40px;
        .disclaimer {
          margin: 10px 0;
          line-height: 1.2;
          font-size: 12px;
          .disclaimer-text {
            margin: 5px 0 10px 0;
          }
        }
      }
    }
    table {
      width: 98%;
      height: auto;
      tr,
      td,
      th {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        th {
          background-color: #c0c0c0;
        }
      }
    }
    .div-btns {
      // width: 265px;
      margin-top: 0px;
      text-align: right;
      // margin-left: 520px;
      padding-right: 15px;
      .btn-reset {
        background-color: #223d38;
        border: 1px solid #223d38;
        border-radius: none;
        width: 120px;
        height: 30px;
      }
      .btn-cal {
        width: 120px;
        height: 30px;
        border-radius: none;
      }
    }
    .btn-show {
      margin-top: -35px;
    }
    .no-results-block {
      margin: -15px 0;
    }
  }
}
.div-enquire {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 16px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07);
  background: #ffffff;
  border-color: #d6d6d6;
  border-width: 0.25px;
  border-style: solid;
  width: 1037px;
  .divSuccessmsg {
    padding: 30px;
    height: 150px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07);
    background: $light-green-background;
    color: $green-background;
    text-align: center;
    // width: 1090px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
      width: 100%;
      padding: 10px;
    }
    h2 {
      font-weight: 700;
      font-style: normal;
      font-size: 22px;
    }
    .icon-success {
      color: $white-color;
      border-radius: 100%;
      font-size: 100px;
      display: block;
      background-color: $light-green;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      margin-bottom: 10px;
    }
  }
}

.div-contacts {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  .div-pickup,
  .div-get-in-touch {
    width: 485px;
    height: 296px;
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07);
    background: #ffffff;
    border-color: #d6d6d6;
    border-width: 0.25px;
    border-style: solid;
  }
  .div-pickup {
    float: left;
    margin-right: 67px;
    margin-left: 32px;
    @media (min-width: 481px) and (max-width: 767px) {
      margin-left: 0;
    }
    .p-pickup-desc {
      width: 338px;
      height: 31px;
      color: #223d38;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.3;
      text-align: left;
      margin-top: 14px;
      margin-left: 23px;
    }
    .pickup-descs {
      width: 400px;
      height: 70px;
      color: #223d38;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      text-align: left;
      margin-top: 21px;
      margin-left: 23px;
    }
    .pick-up-img {
      margin-top: 20px;
      margin-left: 23px;
    }
  }
  .div-get-in-touch {
    float: right;
    .p-getintouch {
      width: 338px;
      height: 31px;
      color: #223d38;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.3;
      text-align: left;
      margin-left: 27px;
    }
    .p-contact {
      width: 400px;
      height: 123px;
      color: #223d38;
      font-weight: inherit;
      font-size: 14px;
      line-height: 1.3;
      text-align: left;
      margin-left: 27px;
    }
    .btn-contct {
      margin-left: 27px;
      width: 120px;
      height: 30px;
      background: #66b82b;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      line-height: 24px;
    }
  }
}
@media (min-width: 667px) and (max-width: 1180px) {
  .div-trans-cal-desc {
    width: auto;
    .p-desc-help {
      width: auto;
    }
  }

  .div-enquire {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 15px 15px 15px;
    .divSuccessmsg {
      padding: 30px;
      height: 150px;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07);
      background: $light-green-background;
      color: $green-background;
      text-align: center;
      width: 1090px;
      @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
        width: 100%;
        padding: 10px;
      }
      h2 {
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
      }
      .icon-success {
        color: $white-color;
        border-radius: 100%;
        font-size: 100px;
        display: block;
        background-color: $light-green;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .div-calcultor {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 15px 15px 15px;
    .p-cost {
      width: auto;
      margin-bottom: 30px;
    }
    .p-dis {
      width: auto;
    }
    .transport-calc table {
      width: auto;
    }
  }
  .div-calcultor .transport-calc .row {
    width: auto;
    min-width: auto;
  }
  .div-calcultor .transport-calc .div-btns {
    width: 100%;
    text-align: right;
    padding-right: 15px;
  }
  .div-contacts {
    height: 615px;
    background-color: white;
    border-bottom: 1px solid;
    width: auto;
    .div-pickup {
      float: none;
      width: auto;
      margin-right: 0px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 0 15px 15px 15px;
      .p-pickup-desc {
        width: auto;
      }
      .pickup-descs {
        width: auto;
      }
    }
    .div-get-in-touch {
      float: none;
      margin-top: 10px;
      margin-left: 32px;
      width: auto;
      margin-left: 20px;
      margin-right: 20px;
      padding: 0 15px 15px 15px;
      @media (min-width: 481px) and (max-width: 767px) {
        // margin-left: 0;
      }
      .p-getintouch {
        width: auto;
      }
      .p-contact {
        width: auto;
      }
    }
  }
  .div-calcultor .transport-calc .row .overflow-auto {
    margin-bottom: 30px;
    margin-top: -20px;
  }
}
.div-cal {
  @media (min-width: 320px) and (max-width: 667px) {
    .div-static-header .div-head .p-static-header {
      font-size: 15px;
      margin-top: 35px;
    }
    .div-static-header .div-logo .img-static-header {
      width: 105px;
      height: 90px;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .div-calcultor .transport-calc .div-btns {
    text-align: right;
    padding-right: 15px;
  }
}
.div-static-header {
  margin-left: 0px;
}
@media (min-width: 320px) and (max-width: 667px) {
  .div-static-header {
    margin-left: 0px;
  }

  .div-trans-cal-desc {
    width: auto;
    .p-desc-help {
      width: auto;
      margin-left: 0px;
    }
  }

  .div-enquire {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px 15px 15px 15px;
    .divSuccessmsg {
      padding: 30px;
      height: 150px;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.07);
      background: $light-green-background;
      color: $green-background;
      text-align: center;
      width: 1090px;
      @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
        width: 100%;
        padding: 10px;
      }
      h2 {
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
      }
      .icon-success {
        color: $white-color;
        border-radius: 100%;
        font-size: 100px;
        display: block;
        background-color: $light-green;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        margin-bottom: 10px;
      }
    }
  }

  .div-calcultor {
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-top: -770px;
    .p-cost {
      width: auto;
      margin-bottom: 40px;
    }
    .p-dis {
      width: auto;
    }
    .transport-calc {
      margin-top: 40px;
      .row {
        width: auto;
        min-width: auto;
      }
    }
    .transport-calc table {
      width: auto;
    }
  }
  .div-calcultor .transport-calc .div-btns {
    margin-left: 40px;
    padding-right: 15px;
  }
  .div-contacts {
    height: 615px;
    background-color: white;
    border-bottom: 1px solid;
    width: auto;
    .div-pickup {
      float: none;
      width: auto;
      margin-right: 0px;
      margin-left: 0px;
      .p-pickup-desc {
        width: auto;
      }
      .pickup-descs {
        width: auto;
      }
    }
    .div-get-in-touch {
      float: none;
      width: auto;
      margin-top: 10px;
      .p-getintouch {
        width: auto;
      }
      .p-contact {
        width: auto;
      }
      .btn-contct {
        margin-top: 20px;
      }
    }
  }
}
