.predictiveSearch {
	position: absolute;
	z-index: 10;
	&__wrapper {
		background-color: #fff;
	}

	&__item {
		a {
			color: #000;
			text-decoration: underline;

			&:hover {
				color: #000;
				text-decoration: underline;
			}
		}
	}
}

.predictiveSearchResults {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 36px;
	border-right: 1px solid black;
	border-left: 1px solid black;
	max-width: unset;
	width: 100%;
	border-radius: 0 0 8px 8px;
	background-color: #fff;
	z-index: 10;

	&.open {
		border-bottom: 1px solid black;
	}

	&__content {
		width: 100%;
		background-color: #fff;
		padding: 16px 5px 1em 5px;
		border-radius: 0 0 8px 8px;
		margin: 0;
	}

	&__wrapper {
		padding: 0 10px;
	}

	&__item {
		margin: 0;
		padding: 7px 0;

		&:hover {
			background-color: #e9ecef;
			border-radius: 5px;
		}

		a {
			color: #000;
			width: 100%;
			display: block;
			height: 100%;

			&:hover {
			}
		}
	}

	&__item:nth-of-type(1) {
		border-top: 1px solid #d6d6d6;
		// margin-top: 24px;
	}
}

.visibility-hidden {
	visibility: hidden;
}
