.notify-me-for {
    .asset-header{
        font-size: 11px;
        padding: 12px 10px;
    }
    .header-bg-color {
        font-family: var(--paragraph-font-family, "Roboto");
        background-color: #a3cf27;
        color: #FFF;
    }
}
