@import '../../../scss/variable.scss';
.container-reset{
    border: 1px solid $grey-border;
    box-shadow: 0 0 5px 2px $grey-border;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 700px;
    padding-left: 90px;
    margin-left: 390px;
    padding-right: 75px;
}
.resetPswrd-btn{
    margin-left: 185px;
    margin-bottom: 10px;
}
.h1-pswd{
    font-weight: 700;
    color: #223c38;
    font-size: 36px;
    margin-top: 20px;
}
.ul.reset-guide {
    list-style-type: square;
  }
  .redirect-login{
      margin-bottom: 20px;
  }
@media only screen and (min-device-width : 735px) and (max-device-width : 1024px) {
    .resetPswrd-btn {
        margin-left: 195px;
      }
      .container-reset{
        margin-left: 30px;
        margin-top: 70px;
      }
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    .resetPswrd-btn {
        margin-left: 120px;
      }
      .container-reset{
          margin-left: 3px;
          width:auto;
          padding-left: 10px;
          padding-right: 10px;
      }
      .h1-pswd{
        font-size: 22px;
      }
  }